body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    box-sizing: border-box;
}

header {
    background: #EEEEEE;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.top-panel {
    margin-left: 140px;
    margin-right: 140px;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
    display: flex;
    text-transform: uppercase;
}

.top-panel-list {
    margin-left: 202px;
    margin-right: 285px;
    margin-top: 75px;
    display: flex;
}

.top-panel-list li {
    margin-left: 45px;
}

.top-panel-list li:first-child {
    margin-left: 0;
}

.basket-link {
    margin-top: 75px;
}

.top-panel img {
    margin-top: 49px;
}

.features {
    margin-left: 140px;
    margin-right: 143px;
    padding-top: 78px;
    padding-bottom: 80px;
}

.features-container span {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}

.features-container p {
    margin-top: 25px;
}

.features-button {
    width: 240px;
    height: 50px;
    margin-top: 38px;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #FB565A;
    border-radius: 3px;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
}

.features-picture {
    width: 760px;
    height: 431px;
    left: 537px;
    top: 112px;
    position: absolute;
    background-image: url(https://i.yapx.ru/MfCC7.png);
}