body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

header {
    background: #EEEEEE;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    border: none;
}
.container {
    width: 1157px;
    margin: 0 auto;
}

.top-panel {
    padding-top: 30px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-panel-list {
    display: flex;
}

.top-panel-list li {
    margin-left: 45px;
}

.top-panel-list li:first-child {
    margin-left: 0;
}

.basket-link {
    padding-left: 40px;
    background-image: url(https://i.yapx.ru/MfP0i.png);
    background-repeat: no-repeat;
    background-position: left;
    
}

.feature {
    padding: 80px 0;
    background-image: url(https://i.yapx.ru/MfCC7.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: relative;
}

.feature span {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    display: block;
}

.feature p {
    margin-top: 25px;
    margin-bottom: 38px;
}

.feature-button {
    padding: 15px 54px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    background: #FB565A;
    border-radius: 3px;
    color: #FFFFFF;;
}

.dots {
    width: 88px;
    height: 18px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    transform: translateY(-80%);
}

.dot {
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.active::before {
    content: "";
    width: 5px;
    height: 5px;
    border: 2px solid #C1C1C1;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/*контент*/

.services {
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.services-item {
    width: 300px;
}

.services-item h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.services-item-btn {
    padding: 17px 39px;
    margin-top: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 3px;
}

.btn-red {
    background: #FB565A;
}

.btn-green {
    background: #00CA74;
}

.btn-yellow {
    background: #EFC849;
}

/*2я секция*/

.company {
    padding-top: 40px;
    padding-bottom: 73px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.about-us {
    width: 651px;
    padding-top: 33px;
}

.about-us span {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

.about-us p {
    padding-top: 32px;
}

.about-us h3 {
    margin-top: 40px;
    margin-bottom: 23px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
}

.about-us-list li {
    padding-left: 31px;
    margin-top: 38px;
    position: relative;
}

.about-us-list li::before {
    content: "";
    left: 0;
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #FB565A;
    top: 50%;
    transform: translateY(-50%);
}

.about-us-list li:first-child {
    margin-top: 0;
}

.credo {
    width: 360px;
}

.credo p {
    padding-left: 25px;
    margin-top: 37px;
    margin-bottom: 31px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

.credo-list {
    display: flex;
    justify-content: space-between;
}

.credo-item {
    width: 100px;
    margin-left: 22px;
    position: relative;
}

.credo-item:first-child {
    margin-left: 0;
}

.number {
    font-weight: bold;
    font-size: 45px;
    line-height: 64px;
    color: black;
}

.percent {
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    position: absolute;
    top: 0;
}

/*3я секция  */

.customers {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.customers div {
    width: 290px;
    text-align: center;
    border-left: 1px solid #eee;
}

.customers div:first-child {
    border-left: none;
}

/*4я секция*/

.contacts {
    width: 1440px;
    margin: 0 auto;
    margin-top: 80px;
}

.contact {
    margin-bottom: 70px;
    position: relative;
    display: flex;
    background-image: url(https://i.yapx.ru/MgOd6.jpg);
}

.contact-studio {
    width: 320px;
    margin-left: 140px;
    margin-top: 54px;
    margin-bottom: 54px;
    background: #FFFFFF;
    
}

.contact-studio h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 22px;
}

.contact-studio p {
    margin-bottom: 12px;
    margin-left: 50px;
    line-height: 18px;
    color: #666666;
}

.contact-studio span {
    margin-left: 50px;
    margin-bottom: 37px;
    line-height: 18px;
    color: #666666;
    display: block;
}

.contact-studio button {
    padding: 16px 44px;
    margin-left: 50px;
    margin-bottom: 50px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FB565A;
    border-radius: 3px;
}

.contact-map-market {
    margin-left: 388px;
    margin-top: 70px;
}

/*footer*/

.footer {
    padding-bottom: 70px;
    display: flex;
}

.footer-application {
    width: 270px;
    display: flex;
    justify-content: space-between;
}

.footer-application div {
    width: 81px;
    height: 81px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

.footer-application img{
    position: absolute;
    bottom: 40%;
    transform: translateX(-50%);
}

.footer-discount {
    width: 660px;
    margin-left: 140px;
}

.footer-discount p {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: black;
}

.footer-discount  span{
    margin-top: 10px;
    line-height: 22px;
    color: #444444;
    display: block;
}